body {
	background: #ddd;
}

h1 {
	font-size: 24px;
	color: #333;
	text-align: center;
}
section {
	height: 400px;
}

canvas{
	background: #fff;
	/*margin-left: 50%;*/
	/*position: absolute;*/
	/*left: -225px;*/
	margin-right: auto;
	border-radius: 3px;
	box-shadow: 0 1px 5px #666;
}


p {
	text-align: center;
}